// Mixins
// -----------------------------------------------------------------------------


@mixin body-font {
  font-weight: $weight-normal;
  line-height: $line-height-primary;
}

@mixin heading-font {
  font-weight: $weight-bold;
  line-height: $line-height-heading;
}
