// Typography
// -----------------------------------------------------------------------------
%heading {
  @include heading-font();
}

html {
  @include body-font();
  font-family: $family-primary;
  font-size: 100%;
}

body {
  font-size: $size-normal;
}

h1 {
  @extend %heading;
  font-size: $size-h1;
}

h2 {
  @extend %heading;
  font-size: $size-h2;
}

h3 {
  @extend %heading;
  font-size: $size-h3;
}

h4 {
  @extend %heading;
  font-size: $size-h4;
}

h5 {
  @extend %heading;
  font-size: $size-h5;
}

h6 {
  @extend %heading;
  font-size: $size-h6;
}
