// Variables
// -----------------------------------------------------------------------------

$family-primary:  Ubuntu, sans-serif;
$line-height-primary: 1.5;
$line-height-heading: 1.1;
$weight-normal:   400;
$weight-bold: 700;


$size-normal: 18px / 16px * 1rem;
$size-large: 3.998 * $size-normal;
$size-small: .841 * $size-normal;
$size-smallest: .707 * $size-normal;
$size-h1: 2.827 * $size-normal;
$size-h2: 1.999 * $size-normal;
$size-h3: 1.414 * $size-normal;
$size-h4: $size-normal;
$size-h5: .841 * $size-normal;
$size-h6: .707 * $size-normal;
$size-small: $size-h5;
$size-smallest: $size-h6;

$page-gutter-size: 1.25rem;
$header-padding-top: 2rem;
$header-padding-bottom: .5rem;
$navbar-height: 2.5rem;
$page-header-site-name-size: 1.95 * $size-h2;
$page-header-site-slogan-size: $size-h2;

$white: #fff;
$gray: #777;
$black: #111;
$dark-blue: #001270;
$lighter-blue: #a2d0cf;
$red: #c72100;
$blue: mix($dark-blue, $lighter-blue);
$green: #7cbc48;

$color-danger: $red;
$color-disabled: $gray;
$color-success: $green;

$default-background-color: $white;
$default-font-color: $black;
$branded-bg-color: $dark-blue;
$branded-font-color: $white;

$link-color: $blue;

$navbar-background-color: $default-background-color;
$navbar-font-color: $default-font-color;
$header-background-color: $branded-bg-color;
$header-font-color: $branded-font-color;

$button-default-color: darken($gray, 50%);
