// BUTTONS
// -----------------------------------------------------------------------------
// Based on the styles in the buttons.css file in the Seven theme.
// Apply these classes to any element (<link>, <button>, <input>, etc.) that
// should appear as a button.
// -----------------------------------------------------------------------------

// Button colors.
$button-blue-a: #0071b8;
$button-blue-b: #007bc6;
$button-blue-c: #1e5c90;
$button-blue-d: #2369a6;
$button-blue-e: #0c97ed;
$button-blue-f: #1f86c7;
$button-blue-g: #1280df;
$button-blue-h: #08639b;
$button-blue-i: #144b78;
$button-blue-j: #0074bd;
$button-blue-k: #008ee6;

// Buttons.
// -----------------------------------------------------------------------------
.button {
  -moz-appearance: none; // Allows full range of styling in Webkit.
  -webkit-appearance: none; // Allows full range of styling in Gecko.
  background: darken($default-background-color, 6%), linear-gradient(to bottom, darken($default-background-color, 4%), darken($default-background-color, 11%));
  border: 1px solid darken($default-background-color, 35%);
  border-radius: px-to-rem(4px);
  color: $button-default-color;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased; // Prevent fat text in WebKit.
  font-weight: $weight-bold;
  line-height: 2;
  padding: px-to-rem(4px) 1.5em;
  position: relative; // Enable z-index on buttons.
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba($default-background-color, .6);
  transition: all .1s;

  &:hover,
  &:focus {
    background: darken($default-background-color, 3%) linear-gradient(to bottom, darken($default-background-color, 2%), darken($default-background-color, 11%));
    color: $black;
    outline: none;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 1px 2px rgba($default-font-color, .125);
  }

  // Prevent focus ring being covered by next siblings.
  &:focus {
    border: 1px solid $branded-bg-color;
    box-shadow: 0 0 .5em .1em rgba($branded-bg-color, .7);
    z-index: 10;
  }

  &:active {
    background: darken($default-background-color, 11%) linear-gradient(to bottom, darken($default-background-color, 4%), darken($default-background-color, 12%));
    border: 1px solid lighten($black, 10%);
    box-shadow: inset 0 1px 3px rgba($branded-bg-color, .2);
    transition: none;
  }

  &--primary {
    background: $button-blue-a linear-gradient(to bottom, $button-blue-b, $button-blue-a);
    border-color: $button-blue-c;
    color: $white;
    -webkit-font-smoothing: antialiased; // Prevent fat text in WebKit.
    font-weight: $weight-bold;
    text-shadow: 0 1px rgba($black, .5);

    &:hover,
    &:focus {
      background: $button-blue-d linear-gradient(to bottom, $button-blue-e, $button-blue-f);
      border-color: $button-blue-c;
      color: $white;
    }

    &:focus {
      border: 1px solid $button-blue-g;
    }

    &:hover {
      box-shadow: 0 1px 2px rgba(lighten($black, 25%), .25);
    }

    &:active {
      background: linear-gradient(to bottom, $button-blue-h, $button-blue-a);
      border-color: $button-blue-i;
      box-shadow: inset 0 1px 3px rgba($black, .2);
    }
  }

  // Overrides styling from system.theme.
  &-action {
    &::before {
      font-size: .875rem;
      -webkit-font-smoothing: antialiased; // Prevent fat text in WebKit.
      line-height: 1rem;
      margin-left: -.2em; // LTR
      padding-right: .2em; // LTR
    }
  }

  &--small {
    // 1. Use px units to ensure button text is centered vertically.
    .no-touchevents & {
      font-size: .813rem;
      padding: 2px 1em; // 1
    }
  }

  &:disabled,
  &.is-disabled {
    &,
    &:active {
      background: $white;
      border-color: darken($white, 10%);
      box-shadow: none;
      color: $color-disabled;
      cursor: default;
      font-weight: normal;
      text-shadow: 0 1px rgba($white, .6);
    }
  }

  &--danger {
    -moz-appearance: none; // Allows full range of styling in Webkit.
    -webkit-appearance: none; // Allows full range of styling in Gecko.
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $color-danger;
    cursor: pointer;
    display: inline;
    font-weight: 400;
    padding: 0;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      background: none;
      border: 0;
      box-shadow: none;
      color: lighten($color-danger, 10%);
      padding: 0;
      text-decoration: underline;
      text-shadow: none;
    }

    &:disabled,
    &.is-disabled {
      background: none;
      border: 0;
      box-shadow: none;
      color: $color-disabled;
      cursor: default;
      -webkit-font-smoothing: antialiased; // Prevent fat text in WebKit.
      padding: 0;
      text-decoration: none;
    }
  }
}

// Link actions.
// -----------------------------------------------------------------------------
// Style a clickable/tappable element as a link. Duplicates the base style for
// the <a> tag, plus a reset for padding, borders and background.
.link {
  -moz-appearance: none; // Allows full range of styling in Webkit.
  -webkit-appearance: none; // Allows full range of styling in Gecko.
  background: none;
  border: 0;
  color: $button-blue-j;
  cursor: pointer;
  display: inline;
  padding: 0;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $button-blue-k;
    text-decoration: underline;
  }
}
