// Nav: Main
// -----------------------------------------------------------------------------

input:not([type=submit]):not([type=reset]):not([type=button]):not([type=file]),
select,
textarea {
  background-color: $default-background-color;
  border: 1px solid $gray;
  color: $default-font-color;
  line-height: inherit;
  padding: .25rem;
}

input:not([type=submit]):not([type=reset]):not([type=button]):not([type=file]):not([type=checkbox]):not([type=radio]),
select,
textarea {
  max-width: px-to-rem(540px);
  width: 100%;
}

input:not([type=submit]):not([type=reset]):not([type=button]):not([type=file]):not([type=checkbox]):not([type=radio]):not([type=search]),
select,
textarea {
  border-radius: px-to-rem(4px);
  box-shadow: 0 0 3px rgba($black, .25) inset;
}

.form-item {
  margin: $page-gutter-size auto;

  .description {
    color: lighten($default-font-color, 25%);
    font-size: $size-small;
  }
}

label {
  display: block;
}
