.page-tasks-primary {
  padding: .5rem 0 0;

  ul {
    display: block;
    list-style: none;
    margin: 0 0 -.5rem;
    max-width: 100%;
    overflow-y: hidden;
    padding: 0;
  }

  li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
  }

  a {
    background-color: $default-background-color;
    border-radius: .25rem .25rem 0 0;
    color: $default-font-color;
    display: block;
    margin: 0 1px 0 0;
    opacity: .5;
    padding: .25rem 1.5rem .125rem;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  .is-active a {
    cursor: default;
    font-weight: $weight-bold;
    opacity: 1;

    &:active,
    &:focus,
    &:hover {
      opacity: inherit;
    }

    &:focus {
      outline: 0;
    }
  }
}
