.page-highlighted {
  .meeting-info {
    background-color: lighten($gray, 30%);
    border-bottom: 1px dotted $dark-blue;
    color: $dark-blue;
    margin: 0 (-1 * $page-gutter-size) $page-gutter-size;

    &--content {
      background-image: url('../images/meeting-info.svg');
      background-position: left .5rem;
      background-repeat: no-repeat;
      background-size: 4rem auto;
      padding: .5rem 0 .5rem 4.5rem;
    }

    p {
      margin: .25rem 0;
    }
  }
}
