.page-header {
  background: $header-background-color url('../images/header-background.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0 -6px 3px rgba(darken($header-background-color, 50%), .5) inset;
  color: $header-font-color;
  margin: 0 ($page-gutter-size * -1);
  padding: $header-padding-top $page-gutter-size $header-padding-bottom;

  .toolbar-horizontal &,
  .toolbar-vertical & {
    margin-top: $page-gutter-size;
  }
}
