%page-navbar-inline-block {
  display: inline-block;
  margin: 0 px-to-rem(-4px) 0 0;
}

.page-navbar {
  background-color: $navbar-background-color;
  box-shadow: 0 1px 2px rgba($black, .5);
  color: $navbar-font-color;
  height: $navbar-height;
  margin: (($header-padding-top + $page-gutter-size) * -1) ($page-gutter-size * -1) 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 501;

  &--home {
    @extend %page-navbar-inline-block;
    border-left: 1px solid #000;
    height: $navbar-height;
    padding: 0;
    vertical-align: top;

    img {
      background-color: $lighter-blue;
      height: $navbar-height;
    }
  }

  &--toggle-label {
    display: none;
    height: $navbar-height;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  &--menu {
    @extend %page-navbar-inline-block;
    height: $navbar-height;
    padding: 0;
    vertical-align: top;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      @extend %page-navbar-inline-block;
      padding: 0;
    }

    a {
      border-right: 1px solid $black;
      color: $navbar-font-color;
      display: block;
      line-height: $navbar-height;
      padding: 0 .5rem;
      text-decoration: none;

      &:active,
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

