.page-branding {
  background: transparent url('../../logo.svg') no-repeat right bottom / auto 100%;
  padding: 3rem 0 1rem;
  text-shadow: 1px 1px 2px rgba(darken($header-background-color, 50%), .75);

  .site-name {
    font-size: $size-h2;
    margin: 0;
  }

  .site-slogan {
    @extend %heading;
    font-size: $size-h3;
    margin: 0;
  }
}

@media (min-width: px-to-rem(1001px)) {
  .page-branding {
    .site-name {
      font-size: $size-large;
    }

    .site-slogan {
      font-size: $size-h2;
    }
  }
}

@media (max-width: px-to-rem(720px)) {
  .page-branding {
    .site-slogan {
      font-size: $size-h4;
    }
  }
}

@media (max-width: px-to-rem(450px)) {
  .page-branding {
    .site-name {
      font-size: $size-h3;
    }
  }
}

@media (max-width: px-to-rem(540px)) {
  .page-branding {
    background-image: none;
  }
}
