{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tasks'|t }}</h2>
  <ul class="local-tasks primary clearfix">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tasks'|t }}</h2>
  <ul class="local-tasks secondary clearfix">{{ secondary }}</ul>
{% endif %}
