// Page Layout
// -----------------------------------------------------------------------------

html,
html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: $page-gutter-size;
}

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: px-to-rem(960px);
}

.page-navbar .layout-container {
  height: 100%;
}
