h1, h2, h3, h4, h5, h6, .page-branding .site-slogan {
  font-weight: 700;
  line-height: 1.1; }

html {
  font-weight: 400;
  line-height: 1.5;
  font-family: Ubuntu, sans-serif;
  font-size: 100%; }

body {
  font-size: 1.125rem; }

h1 {
  font-size: 3.18037rem; }

h2 {
  font-size: 2.24887rem; }

h3 {
  font-size: 1.59075rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 0.94612rem; }

h6 {
  font-size: 0.79537rem; }

html,
html * {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 1.25rem; }

.layout-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 60rem; }

.page-navbar .layout-container {
  height: 100%; }

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: #f0f0f0, linear-gradient(to bottom, whitesmoke, #e3e3e3);
  border: 1px solid #a6a6a6;
  border-radius: 0.25rem;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  line-height: 2;
  padding: 0.25rem 1.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.6);
  transition: all .1s; }
  .button:hover, .button:focus {
    background: #f7f7f7 linear-gradient(to bottom, #fafafa, #e3e3e3);
    color: #111;
    outline: none;
    text-decoration: none; }
  .button:hover {
    box-shadow: 0 1px 2px rgba(17, 17, 17, 0.125); }
  .button:focus {
    border: 1px solid #001270;
    box-shadow: 0 0 0.5em 0.1em rgba(0, 18, 112, 0.7);
    z-index: 10; }
  .button:active {
    background: #e3e3e3 linear-gradient(to bottom, whitesmoke, #e0e0e0);
    border: 1px solid #2b2b2b;
    box-shadow: inset 0 1px 3px rgba(0, 18, 112, 0.2);
    transition: none; }
  .button--primary {
    background: #0071b8 linear-gradient(to bottom, #007bc6, #0071b8);
    border-color: #1e5c90;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    text-shadow: 0 1px rgba(17, 17, 17, 0.5); }
    .button--primary:hover, .button--primary:focus {
      background: #2369a6 linear-gradient(to bottom, #0c97ed, #1f86c7);
      border-color: #1e5c90;
      color: #fff; }
    .button--primary:focus {
      border: 1px solid #1280df; }
    .button--primary:hover {
      box-shadow: 0 1px 2px rgba(81, 81, 81, 0.25); }
    .button--primary:active {
      background: linear-gradient(to bottom, #08639b, #0071b8);
      border-color: #144b78;
      box-shadow: inset 0 1px 3px rgba(17, 17, 17, 0.2); }
  .button-action::before {
    font-size: .875rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1rem;
    margin-left: -.2em;
    padding-right: .2em; }
  .no-touchevents .button--small {
    font-size: .813rem;
    padding: 2px 1em; }
  .button:disabled, .button:disabled:active, .button.is-disabled, .button.is-disabled:active {
    background: #fff;
    border-color: #e6e6e6;
    box-shadow: none;
    color: #777;
    cursor: default;
    font-weight: normal;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6); }
  .button--danger {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #c72100;
    cursor: pointer;
    display: inline;
    font-weight: 400;
    padding: 0;
    text-decoration: underline; }
    .button--danger:hover, .button--danger:focus, .button--danger:active {
      background: none;
      border: 0;
      box-shadow: none;
      color: #fa2900;
      padding: 0;
      text-decoration: underline;
      text-shadow: none; }
    .button--danger:disabled, .button--danger.is-disabled {
      background: none;
      border: 0;
      box-shadow: none;
      color: #777;
      cursor: default;
      -webkit-font-smoothing: antialiased;
      padding: 0;
      text-decoration: none; }

.link {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  color: #0074bd;
  cursor: pointer;
  display: inline;
  padding: 0;
  text-decoration: none; }
  .link:hover, .link:focus {
    color: #008ee6;
    text-decoration: underline; }

input:not([type=submit]):not([type=reset]):not([type=button]):not([type=file]),
select,
textarea {
  background-color: #fff;
  border: 1px solid #777;
  color: #111;
  line-height: inherit;
  padding: .25rem; }

input:not([type=submit]):not([type=reset]):not([type=button]):not([type=file]):not([type=checkbox]):not([type=radio]),
select,
textarea {
  max-width: 33.75rem;
  width: 100%; }

input:not([type=submit]):not([type=reset]):not([type=button]):not([type=file]):not([type=checkbox]):not([type=radio]):not([type=search]),
select,
textarea {
  border-radius: 0.25rem;
  box-shadow: 0 0 3px rgba(17, 17, 17, 0.25) inset; }

.form-item {
  margin: 1.25rem auto; }
  .form-item .description {
    color: #515151;
    font-size: 0.94612rem; }

label {
  display: block; }

img {
  max-width: 100%; }

.page-tasks-primary {
  padding: .5rem 0 0; }
  .page-tasks-primary ul {
    display: block;
    list-style: none;
    margin: 0 0 -.5rem;
    max-width: 100%;
    overflow-y: hidden;
    padding: 0; }
  .page-tasks-primary li {
    display: block;
    float: left;
    margin: 0;
    padding: 0; }
  .page-tasks-primary a {
    background-color: #fff;
    border-radius: .25rem .25rem 0 0;
    color: #111;
    display: block;
    margin: 0 1px 0 0;
    opacity: .5;
    padding: .25rem 1.5rem .125rem;
    text-decoration: none; }
    .page-tasks-primary a:active, .page-tasks-primary a:focus, .page-tasks-primary a:hover {
      opacity: 1; }
  .page-tasks-primary .is-active a {
    cursor: default;
    font-weight: 700;
    opacity: 1; }
    .page-tasks-primary .is-active a:active, .page-tasks-primary .is-active a:focus, .page-tasks-primary .is-active a:hover {
      opacity: inherit; }
    .page-tasks-primary .is-active a:focus {
      outline: 0; }

.page-highlighted .meeting-info {
  background-color: #c4c4c4;
  border-bottom: 1px dotted #001270;
  color: #001270;
  margin: 0 -1.25rem 1.25rem; }
  .page-highlighted .meeting-info--content {
    background-image: url("../images/meeting-info.svg");
    background-position: left .5rem;
    background-repeat: no-repeat;
    background-size: 4rem auto;
    padding: .5rem 0 .5rem 4.5rem; }
  .page-highlighted .meeting-info p {
    margin: .25rem 0; }

.ogc-post--image {
  float: left;
  margin: auto 1rem 1rem auto; }

.page-branding {
  background: transparent url("../../logo.svg") no-repeat right bottom/auto 100%;
  padding: 3rem 0 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75); }
  .page-branding .site-name {
    font-size: 2.24887rem;
    margin: 0; }
  .page-branding .site-slogan {
    font-size: 1.59075rem;
    margin: 0; }

@media (min-width: 62.5625rem) {
  .page-branding .site-name {
    font-size: 4.49775rem; }
  .page-branding .site-slogan {
    font-size: 2.24887rem; } }

@media (max-width: 45rem) {
  .page-branding .site-slogan {
    font-size: 1.125rem; } }

@media (max-width: 28.125rem) {
  .page-branding .site-name {
    font-size: 1.59075rem; } }

@media (max-width: 33.75rem) {
  .page-branding {
    background-image: none; } }

.page-header {
  background: #001270 url("../images/header-background.jpg") no-repeat center center;
  background-size: cover;
  box-shadow: 0 -6px 3px rgba(0, 0, 0, 0.5) inset;
  color: #fff;
  margin: 0 -1.25rem;
  padding: 2rem 1.25rem 0.5rem; }
  .toolbar-horizontal .page-header,
  .toolbar-vertical .page-header {
    margin-top: 1.25rem; }

.page-navbar--home, .page-navbar--menu, .page-navbar--menu li {
  display: inline-block;
  margin: 0 -0.25rem 0 0; }

.page-navbar {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(17, 17, 17, 0.5);
  color: #111;
  height: 2.5rem;
  margin: -3.25rem -1.25rem 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 501; }
  .page-navbar--home {
    border-left: 1px solid #000;
    height: 2.5rem;
    padding: 0;
    vertical-align: top; }
    .page-navbar--home img {
      background-color: #a2d0cf;
      height: 2.5rem; }
  .page-navbar--toggle-label {
    display: none;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    vertical-align: top; }
  .page-navbar--menu {
    height: 2.5rem;
    padding: 0;
    vertical-align: top; }
    .page-navbar--menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .page-navbar--menu li {
      padding: 0; }
    .page-navbar--menu a {
      border-right: 1px solid #111;
      color: #111;
      display: block;
      line-height: 2.5rem;
      padding: 0 .5rem;
      text-decoration: none; }
      .page-navbar--menu a:active, .page-navbar--menu a:hover, .page-navbar--menu a:focus {
        text-decoration: underline; }

/*# sourceMappingURL=oscargrant.style.css.map */
