{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<header role="banner" class="page-header clearfix">
  <nav class="page-navbar" role="navigation">
    <div class="layout-container">
      <a href="/" class="page-navbar--home" title="Oscar Grant Committee | Home">
        <img src="{{ ogc_logo_path }}" alt="Oscar Grant Committee | Home" />
      </a>
      <label class="page-navbar--toggle-label" for="page-navbar--toggle" onclick>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </label>
      <div id="page-navbar--menu" class="page-navbar--menu pure-menu-list">
        {{ ogc_main_menu }}
      </div>
    </div>
  </nav>
  <div class="layout-container">
    <div class="page-branding">
      <h1 class="site-name">{{ site_name }}</h1>
      <p class="site-slogan">{{ site_slogan }}</p>
    </div>
    {{ page.tasks }}
  </div>
</header>

{% if page.console %}
  <aside class="page-console clearfix">
    <div class="layout-container">
        {{ page.console }}
    </div>
  </aside>
{% endif %}

{% if page.highlighted %}
  <aside class="page-highlighted clearfix">
    {{ page.highlighted }}
  </aside>
{% endif %}

<main role="main" class="page-main clearfix">
  <div class="layout-container">
    {{ page.content }}
  </div>
</main>

{% if page.footer %}
  <footer class="page-footer clearfix">
    <div class="layout-container">
        {{ page.footer }}
    </div>
  </footer>
{% endif %}
